

  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

  header{
    display:flex;
    justify-content:center;
    background-color:#9E223E;
    width: 100%;
    height: 130px;
  }

  header>h1{
    font-family: 'Roboto', sans-serif;
    font-size:35px;
    color:#FFFFFF;
    word-spacing:10px;
    padding:20px;
  }


  main section{
    margin:50px;
    margin-bottom: 27%;
  }

  section h2{
    font-family:'Roboto',sans-serif;
    font-style:italic;
    
  }

   .info {
    width:50%;
    text-wrap: balance; 
  }

  .info p{
    font-size:20px;
  }


  footer{
    background-color:#292B2E;
    text-align: center;
    height: 20px;
    padding: 10px;
  }

  footer small{
    font-family: 'Roboto',sans-serif;
    font-style:italic;
    color: #FFFFFF;
  }

  a{
    color: #1A68DA;
  }
  
  

